@import "base/base";

button {
  color: white;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px;
  $bgcolor: map-get($colors, #{$text-secondary});

  @include round_corners;

  &.positive {
    @include set_color(background-color, $positive, 0.8);
  }

  &.destructive {
    @include set_color(background-color, $destructive, 0.8);
  }

  &:hover {
    color: white;

    &.positive {
      @include set_color(background-color, $positive);
    }

    &.destructive {
      @include set_color(background-color, $destructive);
    }
  }
}
