@import "base/base";

.task_board {
  padding: 30px;
  position: relative;
}

.task_card_edit_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include set_color(background-color, $bg, 0.98);
}
